<!doctype html>
<html lang="en">
  <head>
    {% extends 'app/base.html'%}
    {% block content %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home Page</title>
  </head>
  <body>
    <div class = "row ">
        <div class = "col mt-5 text-center">
      <div class="ml-5 ">
        <div class="text-center bg-info"><h3>Create ToDo</h3></div>
      <form method="POST" action="/add/">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="btn btn-success ms-5" type = "submit" value = "Create">
      </form>
      </div>
    </div>
    <div class="col mt-5 text-center">
        <div class="text-center bg-info"><h3>ToDo Status</h3></div>
        <div class=" table">
            <table>
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Delete</th>
                    <th>Update</th>
                </thead>
               
                    {% for todo in todos %}
                    <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.priority}}</td>
                    <td><a href="/delete/{{todo.id}}"><input class="btn btn-danger" type="button" value = "🗑️"></a>
                    <td><a href="/update/{{todo.id}}"><input class="btn btn-warning"type="button" value = "Update"></a>
                </tr>
                    {% endfor %}
                
            </table>

    </div>   
    </div>
    </div>
    </body>
    {% endblock %}
</html>